body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/*HEADER AREA*/
header {
  display: flex;
  width: 100%;
  height: 69px;
  align-items: center;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
}

nav a {
  color: seashell;
  padding: 20px 10px;
}

.logo {
  display: block;
  padding-left: 10px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/*HERO AREA*/
.hero-image {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  justify-content: center;
  align-content: center;
}

.hero-content {
  display: block;
  background-color: black;
  width: 100%;
  height: 150px;
}
